<!doctype html>
<html lang="en">

<head>
  <title>Orders</title>
    <link rel="stylesheet" href="P01_orders.css">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header>
        <!-- place navbar here -->
        <nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin-bottom: 20px">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-sm bg-light navbar-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="P01_index.html">
                            <img src="https://i.pinimg.com/736x/a8/bf/13/a8bf1372ef75f1ea48921a39608e84be--corgi-dog-branding-agency.jpg" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
                        </a>
                    </div>
                </nav>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="P01_index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="P01_about_us.html">Sobre nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#demo" role="button" data-bs-toggle="dropdown">Productos</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="P01_cart_1.html">Categoria A</a></li>
                                <li><a class="dropdown-item" href="P01_cart_2.html">Categoria B</a></li>
                            </ul>
                        </li>

                        <li>
                            <form class="d-flex">
                                <input class="form-control me-2" type="text" placeholder="Buscar productos">
                                <button class="btn btn-secondary" type="button" >Buscar</button>
                            </form>
                        </li>

                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a role="button" class="nav-link" href="#myModalLoginCart" data-bs-toggle="modal"> <i class="fa-regular fa-user"></i> Ingresar</a>
                        </li>


                        <li class="nav-item">
                            <a  role="button" class="nav-link" href="P01_cart.html"> <i class="fa-solid fa-cart-shopping"></i></a>
                        </li>

                        <li class="nav-item">
                            <a  role="button" class="nav-link" href="P01_orders.html"> <i class="fa-solid fa-clock-rotate-left"></i></a>
                        </li>


                    </ul>


                </div>
            </div>
        </nav>


        <!--
        ========================================================================
        -->

        <!-- The Modal Login-->
        <div class="modal" id="myModalLoginCart">
            <div class="modal-dialog" style="width: 370px">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Iniciar Sesion</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                            <label for="formCorreo">Correo: </label>
                            <div class="input-group mb-3" style="padding-top: 10px; width: 300px">
                                <input id="formCorreo" type="text" class="form-control" placeholder="Ingresa tu correo" aria-describedby="basic-addon2" required>
                                <span class="input-group-text" id="add1"><i class="fa-solid fa-user"></i></span>
                            </div>
                        </form>

                        <form>
                            <label for="formPass">Contraseña: </label>
                            <div class="input-group mb-3" style="padding-top: 10px; width: 300px">
                                <input id="formPass" type="password" class="form-control" placeholder="Ingresa tu contraseña" aria-describedby="basic-addon2" required>
                                <span class="input-group-text" id="add2"><i class="fa-solid fa-key"></i></span>
                            </div>
                        </form>

                        <div style="text-align: center;">
                            <button type="submit" class="loginButton">Login</button>
                        </div>
                    </div>

                    <!-- Modal footer Login-->
                    <div class="modal-footer" id="loginFoot">
                        <label >¿No tienes cuenta? <a href="#myModalRegister" data-bs-toggle="modal">Regístrate aquí</a></label>
                    </div>
                </div>
            </div>
        </div>

        <!--
        ========================================================================
        -->

        <!-- The Modal Register-->
        <div class="modal" id="myModalRegister">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Registrarse</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="input-group mb-3" style="padding-top: 10px; width: 220px">
                                    <input type="text" class="form-control" placeholder="Nombre(s)" aria-describedby="basic-addon2" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3" style="padding-top: 10px; width: 220px">
                                    <input type="text" class="form-control" placeholder="Apellidos" aria-describedby="basic-addon2" required>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="input-group mb-3" style="padding-top: 2px; width: 500px">
                                <input type="email" class="form-control" placeholder="Tu correo" aria-describedby="basic-addon2" required>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="input-group mb-3" style="padding-top: 2px; width: 500px">
                                <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon2" required>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="input-group mb-3" style="padding-top: 2px; width: 500px">
                                <input type="password" class="form-control" placeholder="Confirmar contraseña" aria-describedby="basic-addon2" required>
                            </div>
                        </div>


                    </div>

                    <!-- Modal footer Register-->
                    <div class="modal-footer" style="display: flex; flex-direction: column; justify-content: right; align-items: end;">
                        <button  type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="alert('Felicidades te registraste')">Registrarse</button>
                    </div>

                </div>
            </div>
        </div>

    </header>
  <main>
      <div class="container">
          <div class="row " >
              <div class="col-lg-8 col-md-8 w-100">
                  <ul class="list-unstyled">
                      <li class="media">
                          <div class="media-body">
                              <img class="mr-3" src="https://vips.com.mx/menu/img/platos/ensalada.jpg" alt="Generic placeholder image" >
                              <h3 class="mt-0 mb-2 p-0" style="color: #51585e">Producto 1 </h3>

                              <div class="mb-1 w-50">
                                  <h5>Fecha de pedido: <a style="font-weight: normal;">8 / Septiembre / 2023</a></h5>

                              </div>
                              <div class="mb-1 w-50">
                                  <h5>Fecha de pedido: <a style="font-weight: normal;">Anillo Periferico Sur Manuel Gómez Morín 8585, Santa María Tequepexpan, 45604 San Pedro Tlaquepaque, Jal.</a></h5>

                              </div>
                              <div>
                                  <h5>Fecha de pedido: <a style="font-weight: normal;">11 / Septiembre / 2023</a></h5>
                              </div>

                              <div>
                                  <h5>ID: <a style="font-weight: normal;">3467814</a></h5>
                              </div>

                              <div>
                                  <h5>Precio: <a style="font-weight: normal;">20.00</a></h5>
                              </div>
                          </div>

                      </li>
                      <li class="media">
                          <div class="media-body">
                              <img class="mr-3 " src="https://www.fairmont-mayakoba.com/wp-content/uploads/2021/08/tacos.jpg" alt="Generic placeholder image">
                              <h4 class="mt-0 mb-1 p-0" style="color: #51585e">Producto 2 </h4>
                              <div class="mb-1 w-50">
                                  <h5>Fecha de pedido: <a style="font-weight: normal;">7 / Septiembre / 2023</a></h5>

                              </div>
                              <div class="mb-1 w-50">
                                  <h5>Fecha de pedido: <a style="font-weight: normal;">Anillo Periferico Sur Manuel Gómez Morín 8585, Santa María Tequepexpan, 45604 San Pedro Tlaquepaque, Jal.</a></h5>

                              </div>
                              <div>
                                  <h5>Fecha de pedido: <a style="font-weight: normal;">8 / Septiembre / 2023</a></h5>
                              </div>

                              <div>
                                  <h5>ID: <a style="font-weight: normal;">3467813</a></h5>
                              </div>

                              <div>
                                  <h5>Precio: <a style="font-weight: normal;">30.00</a></h5>
                              </div>
                          </div>
                      </li>
                      <li class="media">
                          <div class="media-body">
                              <img class="mr-3" src="https://www.guadiana.com.mx/new/wp-content/uploads/2022/10/GALERIAGUADIANA8-700x700.jpg" alt="Generic placeholder image">
                              <h4 class="mt-0 mb-1 p-0" style="color: #51585e">Producto 3 </h4>
                              <div class="mb-1 w-50">
                                  <h5>Fecha de pedido: <a style="font-weight: normal;">5 / Septiembre / 2023</a></h5>

                              </div>
                              <div class="mb-1 w-50">
                                  <h5>Fecha de pedido: <a style="font-weight: normal;">Anillo Periferico Sur Manuel Gómez Morín 8585, Santa María Tequepexpan, 45604 San Pedro Tlaquepaque, Jal.</a></h5>

                              </div>
                              <div>
                                  <h5>Fecha de pedido: <a style="font-weight: normal;">5 / Septiembre / 2023</a></h5>
                              </div>

                              <div>
                                  <h5>ID: <a style="font-weight: normal;">3467812</a></h5>
                              </div>

                              <div>
                                  <h5>Precio: <a style="font-weight: normal;">5.00</a></h5>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>

          </div>
      </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://kit.fontawesome.com/549e1abe3e.js" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>