<!doctype html>
<html lang="en">
    <head>
        <title>Gato</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/39f78fcbb4.js" crossorigin="anonymous"></script>
        <style>
            .card{
                margin-left: 1%;
                margin-right: 1%;
                background-color: #ffffff66;
                border-radius:3ch;
            }
            .card-img-top{
                margin-top: 5%;
                margin-left: 1%;
                margin-right: 1%;
                background-color: #ffffff66;
                border-radius:3ch;
            }
            body{
                background-color: #FFF4CD;
            }
        </style>
    </head>
    <header>
        <nav
                class="navbar navbar-expand-sm  position-sticky top-0 start-0" style="z-index: 1000; background: linear-gradient(0grad,#ffb84785, #ffb847)"
            >
                <div class="container-fluid">
                    <a class="navbar-brand" href="home"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Google_Earth_icon.svg/2048px-Google_Earth_icon.svg.png" alt="Logo" class="logo" style="width: 35px; height: 35px;"></a>
                    <button
                        class="navbar-toggler d-lg-none"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavId"
                        aria-controls="collapsibleNavId"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav me-auto mt-2 mt-lg-0" style="align-items: center;">
                            <li class="nav-item">
                                <a class="nav-link active" href="home" aria-current="page"
                                    ><b>JUEGOS.COM</b>
                                    <span class="visually-hidden">(current)</span></a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Stats">ESTADÍSTICAS</a>
                            </li>
                        </ul>

                        <a href="#" style="margin-left: 1cap;"><br><i class='fas fa-user-circle' role="button" style='font-size:36px; color: #FFF4CD; margin-left: 10px;' data-bs-toggle="modal" data-bs-target="#loginModal"></i><br>Player1</a>
                        <a href="#" style="margin-left: 1cap;"><br><i class='fas fa-user-circle' role="button" style='font-size:36px; color: #FFF4CD; margin-left: 10px;' data-bs-toggle="modal" data-bs-target="#loginModal"></i><br>Player2</a>

                    </div>
                </div>
            </nav>
    </header>
    <body id="body" style="background-color: #FFF4CD;">
        <div class="container">
        <div class="row">   
            <div class="col-12 col-md-12 col-lg-6">
                <table id="table" style="text-align: center; margin-top:1cap; width: 100%;" border>
                    <tr>
                        <td style="background-color: #dfd9d7; height: 100px;">1,1</td>
                        <td style="background-color: #b2a5a0;">2,1</td>
                        <td style="background-color: #dfd9d7;">3,1</td>
                    </tr>
                    <tr>
                        <td style="background-color: #b2a5a0; height: 100px;">1,2</td>
                        <td style="background-color: #dfd9d7;">2,2</td>
                        <td style="background-color: #b2a5a0;">3,2</td>
                    </tr>
                    <tr>
                        <td style="background-color: #dfd9d7; height: 100px;">1,3</td>
                        <td style="background-color: #b2a5a0;">2,3</td>
                        <td style="background-color: #dfd9d7;">3,3</td>
                    </tr>
                </table>
            </div>     
            <div class="col-12 col-md-12 col-lg-6" style="background-color:cornsilk;">
                <h1>Games:</h1>
                    <table  style="min-width:50%;max-width:100%;border-radius: 10%;background-color: rgba(128, 128, 128, 0.324);">
                        <tr style="height:10ch;">
                            <td style="width:15ch">
                                <a href="Conecta4">
                                    <img class="card-img-top" style="margin-left: 5%;margin-bottom: 5%;max-height:10cap;max-width: 10cap; border-radius: 90%;" src="https://m.media-amazon.com/images/I/81vwhh8B6AL._AC_UF894,1000_QL80_.jpg" alt="Title" />
                                </a>
                            </td>
                            <td>
                                <a href="Conecta4">
                                    <h4 class="card-title" style="font-size: 3cap;">Conecta4</h4>
                                </a>
                            </td>
                        </tr>
                        <tr><td colspan="2"><hr></td></tr>
                        <tr style="height:10ch;">
                            <td style="width:15ch">
                                <a href="Snake">
                                    <img class="card-img-top" style="margin-left: 5%;margin-bottom: 5%;max-height:10cap;max-width: 10cap; border-radius: 90%;" src="https://play-lh.googleusercontent.com/S9ZmNx5LYCj7h2IJZb0QqkXAGki6JRaMQ25ycKfrngDkNBA6jk7rM87YcAH1prV_OA" alt="Title" />
                                </a>
                            </td>
                            <td>
                                <a href="Snake">
                                    <h4 class="card-title" style="font-size: 3cap;">Snake</h4>
                                </a>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
        <div style="background-color:cornsilk;">
            <div class="row" class="col-4" style="margin-left: 5%; margin-bottom: 50px;"> 
                <div class="col-7" style="margin-bottom: 10px;">
                    <h2>Rules:</h2>
                    <lu style="word-wrap: break-word;">
                        <li>Dos jugadores participan en el juego alternando turnos, uno usando "X" y el otro "O" en una casilla vacía del tablero en cada turno.</li>
                        <li>Gana el que tenga tres de sus símbolos en línea recta: ya sea horizontal, vertical o diagonal.</li>
                        <li>Si el tablero está lleno y ninguno de los jugadores ha logrado formar una línea de tres símbolos, el juego termina en empate.</li>
                    </lu>
                </div>
            </div>
        </div>
        
        <!-- Modal de Inicio de Sesión -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                    <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                    <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" required>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Recordar</label>
                                </div>
                                <div style="text-align: center;">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <p>¿No tienes cuenta? <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#registroModal">Regístrate aquí</a></p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal de Registro de Usuarios -->
        <div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registroModalLabel">Registrarse</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>            
                            <div class="row mb-3">
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Nombre(s)" required>
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Apellidos" required>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Tu correo electrónico" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Contraseña" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Confirmar contraseña" required>
                            </div>
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-success">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
