<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <style>
            body{
                background-color: #FFF4CD;
            }
            td{
                border: 1px solid
            }
        </style>
    </head>
    <header>
        <nav
                class="navbar navbar-expand-sm  position-sticky top-0 start-0" style="z-index: 1000; background: linear-gradient(0grad,#ffb84785, #ffb847)"
            >
                <div class="container-fluid">
                    <a class="navbar-brand" href="home"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Google_Earth_icon.svg/2048px-Google_Earth_icon.svg.png" alt="Logo" class="logo" style="width: 35px; height: 35px;"></a>
                    <button
                        class="navbar-toggler d-lg-none"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavId"
                        aria-controls="collapsibleNavId"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav me-auto mt-2 mt-lg-0" style="align-items: center;">
                            <li class="nav-item">
                                <a class="nav-link active" href="home" aria-current="page"
                                    ><b>JUEGOS.COM</b>
                                    <span class="visually-hidden">(current)</span></a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Stats">ESTADÍSTICAS</a>
                            </li>
                        </ul>

                        <a href="#" style="margin-left: 1cap;"><br><i class='fas fa-user-circle' role="button" style='font-size:36px; color: #FFF4CD; margin-left: 10px;' data-bs-toggle="modal" data-bs-target="#loginModal"></i><br>Player1</a>
                        <a href="#" style="margin-left: 1cap;"><br><i class='fas fa-user-circle' role="button" style='font-size:36px; color: #FFF4CD; margin-left: 10px;' data-bs-toggle="modal" data-bs-target="#loginModal"></i><br>Player2</a>

                    </div>
                </div>
            </nav>
    </header>
    <body>
        <div style="border-radius:4ch;width:90%;margin: 5%;align-items: center; background-color: #ffb8473f;">
            <br>
            <h1 style="text-align: center">Estadísticas</h1>
            <table style="margin: 5%;align-self: center;width:90%;" >
                <tr style="text-align: center;">
                    <td >Player1</td>
                    <td>Player2</td>
                </tr>
                <tr>
                    <td>Wins: </td>
                    <td>Wins: </td>
                </tr>
                <tr>
                    <td>Losses: </td>
                    <td>Losses: </td>
                </tr>
                <tr>
                    <td>Matches: </td>
                    <td>Matches: </td>
                </tr>
                <tr>
                    <td>Score: </td>
                    <td>Score: </td>
                </tr>
            </table>
            <br>
        </div>


        <!-- Modal de Inicio de Sesión -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                    <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                    <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" required>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Recordar</label>
                                </div>
                                <div style="text-align: center;">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <p>¿No tienes cuenta? <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#registroModal">Regístrate aquí</a></p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal de Registro de Usuarios -->
        <div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registroModalLabel">Registrarse</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>            
                            <div class="row mb-3">
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Nombre(s)" required>
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Apellidos" required>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Tu correo electrónico" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Contraseña" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Confirmar contraseña" required>
                            </div>
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-success">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <script src="https://kit.fontawesome.com/39f78fcbb4.js" crossorigin="anonymous"></script>
    </body>
</html>
